<%- include('partials/header'); -%>

<body>
<form action="/msf/display" method="GET">
  <h1>Faculty ID</h1>
  
  <div >
    <label for="id"></label>
    <input type="text" id="id" name="id" required > 
  </div>
  <div >
    <button type="submit" >Search</button>
  </div>

</form>
</body>






<%- include('partials/footer'); -%>